.item{
    display: inline;
}

#gallery img{
    width: 10%;
}


.lightbox:target{
    display: inline-block;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.357);
}


.lightbox{
    display: none;
}

.image{
    position: absolute;
    
}