#rgb{
    width: 5rem;
    height: 5rem;
    animation: rgb 4s infinite;
    position: relative;
    margin-bottom: 15rem;
}

@keyframes rgb {
    0%{background-color: red; top: 0; left: 0rem;}
    25%{background-color: yellow; top: 0; left: 15rem;}
    50%{background-color: blue; top: 15rem; left: 15rem;}
    75%{background-color: green; top: 15rem; left: 0;}
    100%{background-color: red; top: 0; left: 0;}
}

#rotate{
    width: 5rem;
    height: 5rem;
    background-color: red;
    transform: rotate(90deg);
    transition: background 2s transform;
}

#rotate:hover{
    transform: rotate(180deg);
    background-color: blue;
    transition: background 2s transform;
}


